---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Start Page</title>

    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | escape }}{% else %}{{ site.keywords | escape }}{% endif %}">
    <meta name="author" content="Ubuntu MATE Team">

    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description | strip }}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/favicon/preview.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ubuntu_mate">
    <meta name="twitter:creator" content="@ubuntu_mate">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

    <link rel="manifest" href="/favicon/manifest.json">
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <meta name="application-name" content="Ubuntu MATE"/>
    <meta name="msapplication-TileColor" content="#87A556"/>
    <meta name="msapplication-TileImage" content="/favicon/144x144.png">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">

    {% assign favicons = "16,32,64,96,144,196,256" | split: "," %}
    {% for icon in favicons %}
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon/{{ icon }}x{{ icon }}.png">
    <link rel="apple-touch-icon" sizes="{{ icon }}x{{ icon }}" href="/favicon/{{ icon }}x{{ icon }}.png">
    {% endfor %}

    <link rel="shortcut icon" href="/assets/favicon.ico">

    <style>
        {% include start.css %}
    </style>
    <script>
        // For browsers that do not support dark mode via CSS.
        if (localStorage.getItem("dark") == true) {
            document.body.classList.add("dark");
        }
    </script>
</head>
<body>

    <div id="logo">
        {% include images/logo.svg %}
    </div>

    <div class="search-box">

        {% for engine in site.data.engines.engines %}
            {% assign config = site.data.engines.config[engine] %}
            <form method="{{ config.method }}" class="search-form {{ engine }}" action="{{ config.action }}" name="{{ config.name }}" style="display:none">
                <input id="{{ engine }}-search-input" class="search-input" type="search" name="{{ config.input_name }}" value="" x-webkit-speech placeholder="Search the web" autofocus />
                {% for field in config.fields %}
                <input type="{{ field.type }}" name="{{ field.name }}" value="{{ field.value }}" />
                {% endfor %}
                <button class="search-button" type="submit" title="Search!">{% include images/search.svg %}</button>
            </form>
        {% endfor %}

        <div id="current-engine">
            <div id="str-powered-by">Powered by</div>

            {% for engine in site.data.engines.engines %}
                <div class="search-logo {{ engine }}" style="display:none">
                    {% include brands/{{ engine }}.svg %}
                </div>
            {% endfor %}

        </div>
    </div>

    <!-- Preferences -->
    <input id="pref-menu-toggle" type="checkbox"/>
    <label id="pref-menu-icon" for="pref-menu-toggle" title="Preferences">
        {% include images/wrench.svg %}
    </label>
    <div id="pref-menu">
        <noscript>
            <p class="no-js-alert">
                {% include images/warning.svg %}
                <span>JavaScript must be enabled to change preferences.</span>
            </p>
            <style>
                .requires-js {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            </style>
        </noscript>
        <h4 id="str-prefer-engine">Preferred Search Engine</h4>
        {% for engine in site.data.engines.engines %}
            <a id="option-{{ engine }}" class="engine-choice requires-js" onclick="set_default('{{ engine }}')">
                {% include brands/{{ engine }}.svg %}
            </a>
        {% endfor %}

        <h4 id="str-appearance">Appearance</h4>
        <input id="dark-mode" type="checkbox" class="requires-js"/>
        <label id="str-dark-mode" for="dark-mode" class="requires-js">Force dark mode</label>
    </div>

    <div class="links">
        <a href="https://ubuntu-mate.org">
            {% include images/desktop.svg %}
            <span id="str-discover">Discover</span>
        </a>
        <a href="https://ubuntu-mate.community">
            {% include images/comments.svg %}
            <span id="str-community">Community</span>
        </a>
        <a href="https://ubuntu-mate.org/shop/">
            {% include images/shopping-bag.svg %}
            <span id="str-shop">Emporium</span>
        </a>
        <a href="https://ubuntu-mate.org/funding/">
            {% include images/heart.svg %}
            <span id="str-funding">Funding</span>
        </a>
    </div>

    <script>
        var LOCALES = {
            {% for locale in site.data.locales %}
                "{{ locale }}": {% include i18n/{{ locale }}.json %}
                {% if forloop.last == false %},{% endif %}
            {% endfor %}
        }

        var PLACEHOLDERS = {
            {% for engine in site.data.engines.engines %}
                "{{ engine }}": "{{ site.data.engines.config[engine].placeholder_string }}"
                {% if forloop.last == false %},{% endif %}
            {% endfor %}
        }

        {% include start.js %}

    </script>

    <noscript>
        <style>
            .google {
                display: block !important;
            }
        </style>
    </noscript>
</body>
</html>
