---
layout: null
---
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Start Page</title>
    <link rel="shortcut icon" href="favicon.ico">
    <style scoped>
        {% include start.css %}
    </style>
</head>
<body>

    <div id="logo">
        {% include images/logo.svg %}
    </div>

    <div class="search-box">

        <!-- Google -->
        <form method="get" class="search-form google no-js-fallback" action="https://www.google.com/search" name="search" style="display:none">
            <input id="google-searchbox" type="search" class="search-input" name="q" value="" x-webkit-speech id="sbi" autofocus />
            <button class="search-button" type="submit">{% include images/search.svg %}</button>
            <input type="hidden" name="ie" value="UTF-8" />
            <input type="hidden" name="sa" value="Search" />
            <input type="hidden" name="channel" value="fe">
            <input type="hidden" name="client" value="browser-ubuntu">
            <input title="search" type="hidden" name="hl" value="en" />
        </form>

        <!-- DuckDuckGo -->
        <form class="duckduckgo" action="https://duckduckgo.com/" style="display:none">
          <input id="duckduckgo-searchbox" type="search" class="search-input" name="q" autofocus />
          <button class="search-button" type="submit">{% include images/search.svg %}</button>
        </form>

        <div id="current-engine">
            <div id="powered-by">Powered by</div>

            <div id="google" class="no-js-fallback" onclick="setSearch('google')" style="display:none">
                {% include brands/google.svg %}
            </div>
            <div id="duckduckgo" onclick="setSearch('duckduckgo')" style="display:none">
                {% include brands/duckduckgo.svg %}
            </div>
        </div>
    </div>

    <div class="links">
        <a href="https://ubuntu-mate.org">{% include images/desktop.svg %}<span>Discover</span></a>
        <a href="https://ubuntu-mate.community">{% include images/comments.svg %}<span>Community</span></a>
        <a href="https://ubuntu-mate.org/shop/">{% include images/shopping-bag.svg %}<span>Emporium</span></a>
        <a href="https://ubuntu-mate.org/funding/">{% include images/heart.svg %}<span>Funding</span></a>
    </div>

    <script>

        var LOCALES = {
            {% for locale in site.data.locales %}
                "{{ locale }}": {% include i18n/{{ locale }}.json %}
                {% if forloop.last == false %},{% endif %}
            {% endfor %}
        }

        {% include start.js %}
    </script>

    <noscript>
        <style>
            .no-js-fallback {
                display: block !important;
            }
        </style>
    </noscript>
</body>
</html>
