.link {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background-image: url(spritesheet.png);
}

.link-box > a > div {
  margin-right: 6px;
}

.link.about {
  background-position: 0px 0px;
}

.link.community {
  background-position: -32px 0px;
}

.link.shop {
  background-position: -64px 0px;
}

.link.chat {
  background-position: -96px 0px;
}

.link.search {
  background-position: -128px 0px;
}

.link.google {
  background-position: -160px 0px;
  width: 71px;
  height: 24px;
}

.link.duckduckgo {
  background-position: -232px 0px;
  width: 120px;
  height: 22px;
}

.link.donate {
  background-position: -352px 0px;
}
