/*********************
 * Colours
*********************/
:root {
    --accent-color: #87A556;
    --border-color: #E6E6E6;
    --background-color: #F4F4F4;
    --background-alt: white;
    --grey-color: #999999;
    --text-color: black;
}

/*********************
 * Main
*********************/
body, * {
    font-family: "Ubuntu", "Droid Sans", "Open Sans", Helvetica, sans-serif;
}

body {
    display: flex;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 95vh;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    overflow: hidden;
}

/*********************
 * Logo
*********************/
#logo {
    margin: auto 0 0;
    padding: 10px 0;
    text-align: center;
}

#logo svg {
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px lightgray;
}

/*********************
 * Search
*********************/
.search-box {
    height: 80px;
    padding: 15px 0;
    margin-bottom: auto;
    text-align: center;
}

.search-input {
    width: 380px;
    height: 35px;
    border: 1px solid var(--border-color);
    font-size: 16px;
    text-indent: 6px;
    vertical-align: middle;
}

.search-button {
    border: 1px solid var(--border-color);
    background-color: var(--accent-color);
    color: white;
    height: 35px;
    width: 48px;
    cursor: pointer;
    vertical-align: middle;
}

.search-button:hover {
    opacity: 0.7;
}

.search-button svg {
    height: 16px;
    width: 16px;
}

.search-button svg path {
    fill: white;
}

/*********************
 * Current Engine
*********************/
#current-engine {
    display: flex;
    margin: 8px auto;
    width: 428px;
    text-align: left;
    font-size: 14px;
}

#current-engine #str-powered-by {
    margin: 0 0 auto 0;
    opacity: 0.5;
}

#current-engine svg {
    height: 20px;
    max-width: 200px;
    margin: 0 5px;
}

/*********************
 * Project Links
*********************/
.links {
    height: 60px;
    margin: 0 0 50px;
    text-align: center;
}

.links > a {
    display: inline-block;
    margin: 16px;
    text-decoration: initial;
    color: var(--grey-color);
}

.links > a svg path {
    fill: var(--grey-color);
}

.links > a:hover {
    opacity: 0.7;
    color: var(--accent-color);
}

.links > a:hover svg path {
    fill: var(--accent-color);
}

.links svg {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
}

.links svg path {
    fill: var(--accent-color);
}

.links span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}


/*********************
 * Dark Mode
*********************/
@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #87A556;
        --border-color: #E6E6E6;
        --background-color: #3C3A36;
        --background-alt: #222;
        --grey-color: #999999;
        --text-color: white;
    }

    body input {
        background-color: black;
        color: var(--text-color);
    }

    #logo svg {
        box-shadow: 0px 0px 10px 0px black;
    }

    .internetarchive svg,
    #option-internetarchive svg {
        filter: invert(1);
    }

}

/* This isn't SCSS so repeat for bog standard "dark" class */
/* The server compresses the data in transit (HTTPS/2) anyway */
.dark {
    --accent-color: #87A556;
    --border-color: #E6E6E6;
    --background-color: #3C3A36;
    --background-alt: #222;
    --grey-color: #999999;
    --text-color: white;
}

.dark input {
    background-color: black;
    color: var(--text-color);
}

.dark #logo svg {
    box-shadow: 0px 0px 10px 0px black;
}

.dark .internetarchive svg,
.dark #option-internetarchive svg {
    filter: invert(1);
}

/* Hide dark mode toggle when natively supported */
@media (prefers-color-scheme: dark) {
    #dark-mode,
    #str-dark-mode,
    #str-appearance {
        display: none;
    }
}

/*********************
 * RTL tweaks
*********************/
.rtl #pref-menu-icon,
.rtl #pref-menu {
    left: 10px;
    right: unset;
    transform-origin: top left;
}

.rtl .engine-choice {
    padding-left: unset;
    padding-right: 20px;
}

.rtl .engine-choice.active::after {
    left: unset;
    right: 0;
}

/*********************
 * Preferences
*********************/
#pref-menu-toggle {
    display: none;
    appearance: none;
}

#pref-menu-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 32px;
    width: 32px;
    padding: 8px;
    cursor: pointer;
}

#pref-menu-icon:hover svg path,
#pref-menu-icon:focus svg path {
    fill: var(--accent-color);
}

#pref-menu-icon svg path,
#pref-menu-toggle:checked + #pref-menu-icon svg path {
    fill: var(--grey-color);
}

#pref-menu {
    position: fixed;
    top: 55px;
    right: 10px;
    background: var(--background-alt);
    box-shadow: 0 8px 14px rgba(0,0,0,0.15);
    font-size: 14px;
    padding: 8px 16px;
    min-width: 150px;
    opacity: 0;
    transform: scale(0);
    transform-origin: top right;
    visibility: hidden;
    transition-property: opacity, transform, visibility;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

#pref-menu-toggle:checked + #pref-menu-icon {
    background: var(--background-alt);
}

#pref-menu-toggle:checked + #pref-menu-icon + #pref-menu {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

/* Items inside dropdown menu */
.no-js-alert {
    background: #A80000;
    color: white;
    display: flex;
    padding: 10px;
    max-width: 250px;
}

.no-js-alert svg {
    height: 30px;
    width: 30px;
    padding: 2px;
    vertical-align: middle;
}

.no-js-alert span {
    padding: 0 5px;
    vertical-align: middle;
}

.no-js-alert svg path {
    fill: white;
}

#pref-menu h4 {
    font-weight: normal;
    margin: 10px 0;
    opacity: 0.5;
}

.engine-choice {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 5px 0;
    padding-left: 20px;
}

.engine-choice svg {
    height: 22px;
    max-width: 200px;
}

.engine-choice.active::after {
    content: "●";
    color: var(--grey-color);
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 20px;
}

#pref-menu input[type=checkbox],
#pref-menu label {
    vertical-align: middle;
}
